<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meeting details.</title>
</head>

<body>
    <main>
        <form method="post" action="">
            <input type="text" name="summary" placeholder="Summary" /></br>
            <textarea type="text" name="description" placeholder="Description"></textarea></br>
            <input type="text" name="location" placeholder="Location" /></br>
            <input type="datetime-local" name="starteDateTime" placeholder="StarteDateTime" /></br>
            <input type="datetime-local" name="endDateTime" placeholder="EndDateTime" /></br>
            <button type="submit">Submit</button>
        </form>

    </main>
</body>

</html>